@tailwind base;

.bg-mustard {
    background: #f4d78a;
}
.text-mustard {
    color: #f4d78a;
}
.mono {
    font-family: 'DM Mono', sans-serif;
}

:root {
    --bg-mustard {
        background: #f4d78a;
    }
    --text-mustard {
        color: #f4d78a;
    }
    --mono {
        font-family: 'DM Mono', sans-serif;
    }
}

html {
    font-size: 16px;
}


.link {
    @apply border-b text-gray-800 border-gray-800;
}
.link:hover {
    @apply border-gray-900 text-gray-900;
}

.select_wrapper {
    @apply relative;
}
.select_wrapper .select_overlay {
    @apply flex items-center;
    position: relative;
    z-index: 10;
    pointer-events: none;
}
.select_wrapper select {
    @apply text-gray-800;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@tailwind components;
@tailwind utilities;

/* Boing font face */
@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-BoldItalic.woff2') format('woff2'),
        url('/fonts/Boing-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-Bold.woff2') format('woff2'),
        url('/fonts/Boing-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-Italic.woff2') format('woff2'),
        url('/fonts/Boing-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-Regular.woff2') format('woff2'),
        url('/fonts/Boing-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* DM Mono font face */

@font-face {
    font-family: 'DM Mono';
    src: url('/fonts/DMMono-Regular.woff2') format('woff2'),
        url('/fonts/DMMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('/fonts/DMMono-MediumItalic.woff2') format('woff2'),
        url('/fonts/DMMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('/fonts/DMMono-Italic.woff2') format('woff2'),
        url('/fonts/DMMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('/fonts/DMMono-Medium.woff2') format('woff2'),
        url('/fonts/DMMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Boing', sans-serif;
}

#container {
    @apply mx-auto;
    max-width: 1350px;
}
#main {
    @apply px-10;
}

/* .inner-content {
    @apply mx-auto;
    max-width: 1350px;
} */


.separator_icon {
    font-size: 6px;
}

.link-list li {
    @apply mb-2;
}
.link-list a {
    @apply text-base --mono uppercase flex items-center;
}
.link-list a .text {
    @apply border-b border-dashed border-transparent pb-1;
}
.link-list a:hover .text {
    @apply border-b border-dashed border-gray-900;
}
.link-list li a .icon {
    @apply text-2xl text-gray-600 mr-2;
}
.link-list li a:hover .icon {
    @apply text-mustard;

}

header nav {
    font-family: 'DM Mono', sans-serif;
}
header nav a {
    @apply mr-6;
}
header nav a:hover, header nav a.active {
    @apply text-gray-800;
}

.dropzone .dz-preview .dz-image {
    width: auto;
}
.dropzone .dz-preview .dz-image img {
    width: 100%;
}